/* ===============
       BODY
=================*/
#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

/* ===============
     CONTAINER
=================*/
h1 {
  padding: 35px 0px 0px 0px;
  font-size: 3rem;
}

.repCalculatorContainer {
  background-color: #555;
  color: white;
  border-radius: 75px;
  padding: 0 15px 15px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}


/* ===============
     REP FORM
=================*/
.repForm {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 0 15px;
 }

input {
  padding: 4px 4px;
  background-color: #ececec;
  font-size: .8rem;
  text-align: center;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
 }

.repForm p,
.repForm label,
.repForm button {
  margin: 0;
}
.repForm p:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.repForm p:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.repForm p:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.repForm p:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}
.repForm input:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
  display: inline-block;
  white-space: nowrap;
  color: #B8A900;
  border: 1px solid yellow;
}
.repForm input:nth-child(6) {
  grid-column: 2;
  grid-row: 3;
  display: inline-block;
  white-space: nowrap;
  color: #D77F3A;
  border-color: orange;
  border: 1px solid orange;
}
.repForm p:nth-child(7) {
  grid-column: 3;
  grid-row: 1;
}
.repForm input:nth-child(8) {
  grid-column: 3;
  grid-row: 2;
  color: #B8A900;
  display: inline-block;
  white-space: nowrap;
  border: 1px solid yellow;
}
.repForm input:nth-child(9) {
  grid-column: 3;
  grid-row: 3;
  color: #D77F3A;
  display: inline-block;
  white-space: nowrap;
  border: 1px solid orange;
}
.repForm p:nth-child(10) {
  grid-column: 4;
  grid-row: 1;
}

.placeholder2 {
  grid-column: 5;
  grid-row: 1;
} 
.generateBtn {
  grid-column: 5;
  grid-row: 2/span 2;
  background-color: #5A6D7A;
  color: white;
  border: 2px solid #4A5b64;
 }
 #totalRepTime {
  grid-column: 4;
  grid-row: 2 / span 2;
  color: #D1a1a4;
  display: inline-block;
  white-space: nowrap;
  border: 1px solid maroon;
 }

/* ===============
  COUNTDOWN TIMER
=================*/
 .timerFunction {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 0;
  grid-column-gap: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.descriptionText {
  grid-column: 1 / 4; 
  text-align: center;
  margin-bottom: 0;
}

.buttonOverlap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1; 
  grid-row: 2; 
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.startBtn {
  position: absolute;
  right: 0;
  width: 45%; 
  z-index: 2;
  background-color: #5A6D7A;
  color: white;
  border: 2px solid #4A5b64;
  top: 50%;
  transform: translateY(-130%);
}
.pauseBtn {
  position: absolute;
  right: 0;
  width: 45%; 
  z-index: 1;
  background-color: #7F5f9b;
  color: white;
  border: 2px solid #6A4c86;
  margin-top: 0;
  top: 50%;
  transform: translateY(-130%);
}

.countdown {
  grid-column: 2; 
  grid-row: 2; 
  text-align: center;
  font-size: 80px;
  margin-top: 0;
  line-height: 1;
}

.placeholder3 {
  grid-column: 3; 
  grid-row: 2; 
  text-align: center;
}

/* ===============
     SCALING
=================*/
@media (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
    padding: 15px 0px 0px 0px;
  }
  .repCalculatorContainer {
    width: 95%;
    padding: 0 10px 10px;
    font-size: .5rem;
  }
  .repForm {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    padding: 0 10px;
    position: relative;
  }
  .repForm::after {
    content: "";
    position: absolute;
    top: calc(60%);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
  }
  .placeholder2 {
    display: none;
  }

  .repForm label:nth-of-type(3) {grid-column: 1; grid-row: 4;}
  .repCalculatorContainer .repForm #totalRepTime {grid-column: 2; grid-row: 4;}
  .generateBtn { grid-column: 3; grid-row: 4; }

  input {
    font-size: 0.4rem;
  }


.timerFunction {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.descriptionText {
  margin-top: 0;
  padding-top: 0;
  grid-column: 1;
  grid-row: 1;
}
.countdown {
  grid-column: 1;
  grid-row: 2;
  font-size: 2.5rem;
  margin: 15px 0;
}
.buttonOverlap {
  grid-column: 1;
  grid-row: 3;
  justify-content: center;
  margin: 0 auto 15px;
  width: 100%;
  top: 120%;
  transform: translateX(-27%);
}
.placeholder3 {
  display: none;
}
}



